<% include partials/header %>



<div class='parent'>
  <% teams.forEach((team) => { %>
      <div class="child">
        <%= team.name %>
        <br />
        <img src="<%=team.crestUrl%>">
      </div>
  <%})%>
</div>

<% include partials/footer %>
