<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome!</title>

  </head>
  <body>

    <label for="email">Email</label>
    <input id="email" type="email" placeholder="Email">

    <label for="password">Password</label>
    <input id="password" type="email" placeholder="Password">

    <button id="login">Submit!</button>
    <script  type="text/javascript" src="/auth.js" charset="utf-8"></script>
  </body>
</html>
