<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome!</title>

  </head>
  <body>
    <form action="/register" method="POST">
      <label for="email">Email</label>
      <input id="email" type="text" name="username" placeholder="Email">
      <label for="password">Password</label>
      <input id="password" type="password" name="password" placeholder="Password">
      <button id="login">Submit!</button>
    </form>
    <!-- <script  type="text/javascript" src="/auth.js" charset="utf-8"></script> -->
  </body>
</html>
