<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Request</title>
  </head>
  <body>
    <h1> Select a League: </h1>
    <form method="GET" action="/league">
      <select name="leagueOption">
        <option name = "LaLiga" value="PD" >La Liga</option>
      </select>
        <input type="submit">
    </form>
  </body>
</html>
