.parent {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-auto-rows: 100px;
  grid-gap: 15px;
  padding-right: 5%;
  /* margin-left: 175px; */
}

.child {
  display: grid;
  color: black;
  background-color: white;
  border: 5px solid black;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.child img {
  max-width: 50px;
  max-height: 50px;
  margin: auto;
}

#chartContainer {
  width: 200px;
  height: 200px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.subHeader {
  width: 25%;
  font-size: 2em;
  font-weight: 300;
}

.icon {
  margin-right: 10px;
}
